
@{
    ViewData["Title"] = "Category";
}

<h2>Category</h2>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Category</th>
    </tr>

    @foreach (var cheese in Model)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Category</td>
        </tr>
    }
</table>

