
@{
    ViewData["Title"] = "Category";
}

<h2>Category</h2>

<table class="table">

    <tr>
        <th>Name</th>
    </tr>

    @foreach (var cheese in Model)
    {
        <tr>
            <td>@cheese.Name</td>
        </tr>
    }

</table>

<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>

