@model IEnumerable<CheeseMVC.Models.Menu>


@{
    ViewBag.Title = "Cheese Menus";
}

<h2>@ViewBag.Title</h2>

<ul>

    @foreach (var item in Model)
    {

        <li><a asp-controller="Menu" asp-action="ViewMenu" asp-route-id="@item.ID">@item.Name</a></li>

    }

</ul>

<p><a asp-controller="Menu" asp-action="Add">Add Menu</a></p>
