@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = Model.Menus.Name + " Menu: ";
}

<h2>@ViewBag.Title</h2>



@if (Model.Items.Count == 0)
{
    <p>Please add a menu item</p>

}

<ul>
    @foreach (var x in Model.Items)
    {
        <li>@x.Cheese.Name</li>

    }
</ul>

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menus.ID">Add Item</a> 
    | <a asp-controller="Menu" asp-action="Remove" asp-route-id="@Model.Menus.ID">Delete Item</a></p>
